---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Blog">
    <h2>Not found</h2>
    <h3>Sorry 😿</h3>
    <p>we couldn’t find what you were looking for.</p>
    <a href="/">Go home</a>
</BaseLayout>
